<?xml version="1.0" encoding="UTF-8"?>

<suite name="Complete Suite">

	<test name="Testcase001" allow-return-values="true">
    <classes>
        <class name="com.org.Suite.RegressionSuite.Testcase001" ></class>  
    </classes>
</test>

<test name="Testcase002" allow-return-values="true">
    <classes>
        <class name="com.org.Suite.RegressionSuite.Testcase002" ></class>  
    </classes>
</test>
  <listeners>
        <listener class-name="Listner.ConsoleTraceLogListener" />
  </listeners>
  
 </suite>